/*
 * Licenses list. The page chrome (topbar / back / title / scroll) comes from
 * `SubPageShell.css`; only the list's own rules live here.
 */

.licenses__content {
  padding: var(--space-3) var(--space-4);
}

.licenses__intro {
  color: var(--content-2);
  font-size: var(--font-sm);
  margin-bottom: var(--space-4);
}

.licenses__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-3) 0;
  border-bottom-width: 1px;
  border-bottom-color: var(--neutral-faint);
}

.licenses__name {
  color: var(--content);
  font-size: var(--font-sm);
}

.licenses__license {
  color: var(--content-2);
  font-size: var(--font-xs);
}
